#semiextensivo{
    justify-content: center;
    background-color: #cecece;
}

#semiextensivo .page{
    margin-top: 10.5em;
    width: 90%;
}

#semiextensivo h2{
    font-size: 55px;
    margin-left: 10%;
    width: 70%;
    color: #9E0303;
}

#semiextensivo #bloco_aulas{
    margin: 5%;
}

#semiextensivo .linha_aulas{
    max-width: 75%;
    display: flex;

    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around; 
}

#semiextensivo .aula{
    padding: 1%;
    max-width: 45%;
    margin: 1%;

}

#semiextensivo .aula .img_aula{
    justify-content: space-between;
}

#semiextensivo .aula img{
    justify-content: right;
    max-width: 85%;
}

#semiextensivo .aula h3{
    margin-top: 0.7%;
    padding-left: 5%;
    font-size: 22px;
}