body{

    height: 100vh;
}

#crtl_level{
    margin-top: 2%;
    margin-bottom: 2%;
}

#crtl_course{
    display: block;
    margin-top: 2%;
}

form{
    border-radius: 25px;
    border: solid 1px black;
    padding: 2em;
    margin-top: 2em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid rbga(153, 153, 153, 0.5);
    border-right: 1px solid rbga(0, 0, 0, 0.5);
    border-bottom: 1px solid rbga(0, 0, 0, 0.5);
    border-left: 1px solid rbga(153, 153, 153, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 4px 3px 2px rgb(136 136 136);
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: 18px;
}
#cadastro{
    margin-bottom: 7%;
}
h1{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: fit-content;
    color: #9E0303;
    
}
.dados{
    color: #9E0303;
    font-size: 25px;
}
#select_escolaridade{
    color: #9E0303;
    font-size: 25px;
}
#select_cursos{
    color: #9E0303;
    font-size: 25px;
}
#bot_enviar{
    background-color: #9E0303;
    border: 0;
    color: white;
    padding: 1% 3%;
    justify-content: space-between;
    font-size: 22px;
    border-radius: 5px;
    border: white solid 1px;
}

p{
    font-size: 15px;
    margin-top: 3%;
    text-align: center;
}

a{
    color: black;
}