/*CONTATO*/
#contato{
    
    background-color: #2b0606;
    background-size: contain;
    background-repeat: round;
    height: 100vh;
}

#contato .page{
    margin: auto;
}

#contato #conteudo{
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    margin: auto;
    padding: 1.5%;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    margin-bottom: 20%;
}

#contato h2{
    text-align: center;
    padding: 2.5% 0% 6% 0%;
    font-size: 34px;
    color: #FFF;
}

#contato #links{
    display: block;
    font-size: 17px;
}

#contato a{
    text-decoration: none;
    color: black;
    align-items: center;
}

#contato a img{
    margin-right: 2.5%;
}

#contato #end img, #contato #email img, #contato #tel img{
    width: 7%;
}

#contato #end, #contato #email, #contato #tel{
    display: flex;
    background-color: white;
    margin: 2%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 4px 3px 2px rgb(136, 136, 136);
}

#contato #end:hover, #contato #email:hover, #contato #tel:hover{
    transition: 0.3s;
    margin: 1.85%;
    box-shadow: 6px 5px 3px rgb(136, 136, 136);
}

#contato #dados{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5%;
}

#contato #nome_fantasia, #contato #cnpj{
    background-color: white;
    padding: 1.2%;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 4px 3px 2px rgb(136, 136, 136);
}

#contato span{
    font-weight: bold;
    font-size: 19px;
    color: #9E0303;
}

@media screen and (max-width: 1700px) {
    #contato h2{
        font-size: 32px;
    }

    #contato #links{
        font-size: 16px;
    }

    #contato #nome_fantasia, #contato #cnpj{
        font-size: 15px;
    }
    
    #contato span{
        font-size: 18px;
    }
}

@media screen and (max-width: 1450px) {
    #contato h2{
        font-size: 30px;
    }

    #contato #links{
        font-size: 15px;
    }

    #contato #nome_fantasia, #contato #cnpj{
        font-size: 14px;
    }
    
    #contato span{
        font-size: 17px;
    }
}

@media screen and (max-width: 1200px) {
    #contato h2{
        font-size: 28px;
    }

    #contato #links{
        font-size: 14px;
    }

    #contato #nome_fantasia, #contato #cnpj{
        font-size: 13px;
    }
    
    #contato span{
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    #contato h2{
        font-size: 26px;
    }

    #contato #links{
        font-size: 13px;
    }

    #contato #nome_fantasia, #contato #cnpj{
        font-size: 12px;
    }
    
    #contato span{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    #contato h2{
        font-size: 24px;
    }

    #contato #links{
        font-size: 11px;
    }

    #contato #nome_fantasia, #contato #cnpj{
        font-size: 10px;
    }
    
    #contato span{
        font-size: 14px;
    }
}

@media screen and (max-width: 510px) {
    #contato h2{
        font-size: 22px;
    }

    #contato #links{
        font-size: 10px;
    }

    #contato #nome_fantasia, #contato #cnpj{
        font-size: 9px;
    }
    
    #contato span{
        font-size: 13px;
    }
}