*{
    scroll-behavior: smooth;
    margin: 0;
}

body{
    font-family: 'Sarala', sans-serif;
}

/*HEADER*/
header{
    width: 100vw;
    z-index: 2;
    position: fixed;
}

header #logo{
    display: flex;
    align-items: center;
}

#logo_img a img{
    width:90px;
    height: 90px;
    margin-right: 15px;
    align-content: center;
}

#textlogo{
    align-items: center;
}

#logo_text{
    font-size: 25px;
    text-align: left;
}

#logo_text2{
    text-align: right;
    font-size: 9px;
    position: relative;
    top: -9px;
}

header nav{
    display: flex;
    background-color: #CECECE;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7rem 1px 7rem;
}

header #navegacao ul{
    display: flex;
    align-items: center;
}

header #navegacao li{
    list-style: none;
    margin: 0 25px 0 0;
    display: flex;
}

header #navegacao a:hover{
    transition: 0.5s;
    background-color: #ffffff;
    color: #9E0303;
    border-radius: 0.7em;
}

header a{
    text-decoration: none;
    color: black;
    
}

header #bot_login{
    background-color: #b4b4b4;
    border-radius: 1em;
    font-size: 20px;
    padding: 5px;
}

header #bot_login a:hover{
    transition: 0.5s;
    background-color: #ffffff;
    color: black;
    padding: 5px;
}

header #bot_cadastro{
    background-color: #ffffff;
    border-radius: 1em;
    font-size: 20px;
    padding: 5px;
}

header #bot_cadastro a:hover{
    transition: 0.5s;
    font-size: 22px;
}

header #detalhe_linha{
    height: 0.4em;
    background-image: linear-gradient(100deg, #9E0303, #F2B138, #9E0303);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 2px 3px 2px #0000008c;
}

header #detalhe_linha_sup{
    background-color: #9E0303;
    height: 2em;
    background-image: #9E0303;
}

header #nav_aulas_cursinho{
    margin: 0;
    padding: 0;
    justify-content: center;
}

header #nav_aulas_cursinho ul{
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: center;
}

header #nav_aulas_cursinho li{
    padding: 0.5% 5%;
}

header #nav_aulas_cursinho a:hover{
    transition: 0.5s;
    background-color: #ffffff;
    color: #9E0303;
    border-radius: 1em;
}



/*SECTION*/
section{
    display: flex;
    justify-content: center;
}

.page{
    margin-top: 7.5em;
}



/*FOOTER*/
footer{
    width: 100%;
    background-color: #CECECE;
    height: 6em;
    background-image: linear-gradient(180deg, #CECECE, #2b060627, #f2b13811);
}

footer #detalhe_linha{
    height: 0.3em;
    background-image: linear-gradient(50deg, #F2B138, #9E0303, #F2B138);
}

.footerrodape{
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 7px 150px 0px 150px;
}

.rodape1{
    text-align: center;
    font-size: 30px;
    font-style: bold;
}

.rodape2{
    text-align: right;
    font-size: 15px;
}


@media screen and (max-width: 850px) and (min-width: 801px) {
    *{
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) and (min-width: 386px){
    *{
        max-width: 100%;
    }
}

@media screen and (max-width: 1700px) {

}

@media screen and (max-width: 1450px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 510px) {

}