/*INICIO*/
#inicio{
    background: #2b0606;
    color: white;    
}

#inicio .page{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#inicio #titulo{
    display: flex;
    justify-content: center;
}

#inicio #titulo h1{
    font-size: 65px;
    text-align: center;
    font-style: bold;
    margin: 20px;
    margin-top: 0px;
}

#inicio #titulo h3{
    font-size: 45px;
    margin-top: 3%;
    text-align: center;
    height: 35px;
}

#inicio #bot_comecar{
    font-size: 30px;
    margin-top: 15%;
    padding: 1%;
    color: #ffffff;
    border-radius: 1em;
    text-align: center;
    font-weight: bold;
}

#inicio #bot_comecar a{
    text-decoration: none;
    color: #ffffff;
    border: white solid 2px;
    border-radius: 1em;
    padding: 10px;
}

#inicio #bot_comecar a:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color: #9E0303;
    border-radius: 1em;
}

#inicio #img_inicial{
    width: 41%;
}

#inicio #img_inicial img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 100%;
    display: flex;
    border: 5px solid #00000023;
}

#inicio #text_inicio{
    display: flex;
    padding-top: 3%;
    margin: 1.5%;
    height: 170px;
}

#text_inicio a {
    text-decoration: none;
    color: #ffffff;
}

#inicio #text_inicio ul{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

#inicio #text_inicio li{
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}

#inicio #text_inicio p{
    font-size: 20px;
    text-indent: 1.5em;
    flex-wrap: wrap;
}

@media screen and (max-width: 1700px) {
    #inicio #titulo h1{
        font-size: 60px;
    }
    
    #inicio #titulo h3{
        font-size: 50px;
    }
    
    #inicio #bot_comecar{
        font-size: 25px;
    }

    #inicio #text_inicio p{
        font-size: 18px;
    }
}

@media screen and (max-width: 1450px) {
    #inicio #titulo h1{
        font-size: 55px;
    }
    
    #inicio #titulo h3{
        font-size: 45px;
    }
    
    #inicio #bot_comecar{
        font-size: 22px;
    }

    #inicio #text_inicio p{
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    #inicio #titulo{
        display: block;
    }
    
    #inicio #titulo h1{
        font-size: 50px;
    }
    
    #inicio #titulo h3{
        font-size: 40px;
    }
    
    #inicio #bot_comecar{
        font-size: 20px;
        margin-top: 5%;
    }

    #inicio #img_inicial{
        width: 100%;
    }
    
    #inicio #img_inicial img{
        width: 40%;
        margin: auto;
    }

    #inicio #text_inicio p{
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    #inicio #titulo h1{
        font-size: 45px;
    }
    
    #inicio #titulo h3{
        font-size: 35px;
    }
    
    #inicio #bot_comecar{
        font-size: 18px;
    }

    #inicio #text_inicio p{
        font-size: 9px;
    }
}

@media screen and (max-width: 600px) {
    #inicio #titulo h1{
        font-size: 40px;
    }
    
    #inicio #titulo h3{
        font-size: 30px;
    }
    
    #inicio #bot_comecar{
        font-size: 16px;
    }

    #inicio #text_inicio p{
        font-size: 8px;
    }
}

@media screen and (max-width: 510px) {
    #inicio #titulo h1{
        font-size: 35px;
    }
    
    #inicio #titulo h3{
        font-size: 25px;
    }
    
    #inicio #bot_comecar{
        font-size: 14px;
    }

    #inicio #text_inicio p{
        font-size: 7px;
    }
}