#agradecimento{
    border-radius: 10px;
    border: solid 1px black;
    width: fit-content;
    padding: 2em;
    margin-top: 50vh;
    
}
#agradecimento p{
    font-size: 20px;
}
#agradecimento form{
    margin-top: 2%;
    text-align: center;
}

#agradecimento input{
    background-color: #9E0303;
    border: 0;
    color: white;
    padding: 1% 3%;
    font-size: 18px;
}